@mixin footerTitle ($fs: $fs-c2,$fw: $fw-bold,$color: $text-color-c0) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin footerItem ($fs: $fs-c1,$fw: $fw-semibold,$color: $text-color-c0) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin footerButtonA ($fs: $fs-c1,$fw: $fw-regular,$color: $text-color-c2) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin registerInput ($fs: $fs-c4, $fw: $fw-semibold, $color: $text-color-c0, $bd: $bd-c0) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
    border: $bd;
}