//font-size
$fs-c1: 13px;
$fs-c2: 16px;
$fs-c3: 20px;
$fs-c4: 24px;
$fs-c5: 40px;

//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;


//color
$bg-color-c1: #f8f8f8;
$bg-color-c2: #DEDDDC;
$text-color-c0: #000000;
$text-color-c1:#CBC9C9;
$text-color-c2: #d77a76;