//font-size
$fs-c0: 10px;
$fs-c1: 13px;
$fs-c2: 16px;
$fs-c3: 20px;
$fs-c4: 24px;
$fs-c5: 30px;
$fs-c6: 40px;

//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;


//color
$bg-color-c1: #f8f8f8;
$bg-color-c2: #DEDDDC;
$bg-color-c3: #AE18E2;
$bg-color-c4: #FFFCFC;
$bg-color-c5: #F8B653;
$bg-color-c6: #E1B067;
$bg-color-c7: #CCCCCC;
$text-color-c0: #000000;
$text-color-c1: #CBC9C9;
$text-color-c2: #d77a76;
$text-color-c3: #ffffff;
$text-color-c4: #1ED90E;
$text-color-c5: #1E1D1D;
$text-color-c6: #FC0303;

//boder
$bd-c0: none;
$bdBot-c1: 1px solid $bg-color-c3;